body { 
    background: url(../images/space.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    background-color: blueviolet;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    opacity: 0.90;
}

#trivia-box {
    margin-top: 25px;

    
}

#question-box {
    padding-top: 20px;
    padding-bottom: 40px;
}

#start-button {
    padding: 20px 40px 20px 40px;
}